---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>
	<body class="w-full h-full bg-[#453237]">
		<div
			class="w-32 h-32 border border-black rounded-xl font-bold flex items-center justify-center m-4 hover:bg-[#f0f]">
			LOOL
		</div>
		<a href="test/" class="text-xl text-yellow-500">LOOOL EIN LINK EH</a>
	</body>
</html>
